.ap{
    margin-top: 70px;
    /* padding: 75px; */
    font-family: Arial, Helvetica, sans-serif;
}
.ap h2{
    font-size: 36px;
    font-weight: bold
}
.ex div{
    align-items: center;
    border: 1px solid gray;
    gap: 5px;
    border-radius: 5px;
    width: 9rem;
    padding: 5px;
}
.ex p{
    font-size: small;

}

body{
    background-color: black;
    color: white;
}
.div p{
    font-size: x-small;
    font-weight: bold;
}
.div img{
    height: 20px;
}
.div div{
    display: flex;
    border: 1px solid gray;
    border-radius: 15px;
    width: 6.7rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
}
.dd{
    border: 1px solid gray;
    margin: 10px;
    width: 22rem;
    border-radius: 8px;
    padding: 15px;
}
.dd div{
    padding: px;
}
.pics .jj{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
 .star{
    height: 20px;
    width: 100px;
 }
 .tp p{
    font-size: 12px;
 }
 .oo{
    border: 1px solid gray;
    margin: 10px;
    width: 22rem;
    border-radius: 8px;
    padding: 15px;
 }
 .jj img{
    height: 50px;
    width: 50px;
 }
 .open{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    border: 1px solid gray;
    
 }
 .but{
    outline: none;

 }
  

