.banner{
    position: relative;
}

.input{
    position: relative;
}

.input button{
    position:absolute;
    top: 5%;
    left: 83.5%;
    font-size: small;
}

.search{
    width: 75%;
}

.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    gap: 1rem;
}

select{
    background-color: black;
    color: #fff;
    border-radius: 8px;
}

.descrip{
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    height: 1.7rem;
}
.descrip p{
    font-size: 12px;
}
.dd{
    border: 1px solid gray;
    margin: 10px;
    width: 22rem;
    border-radius: 8px;
    padding: 15px;
}

.radio{
    position: relative;
}

.circle{
    position: absolute;
    left: 90%;
    bottom: 33%;
}

.form{
    border: 1px solid gray;
    padding: 2rem;
    border-radius: 10px;
}

.message{
    height: 7rem;
}

.condition{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}